.MainTitle {
  color: var(--color--red1);
  margin-bottom: 5vh;
}
.MainTitle h2{
  font-size: 2rem;
  /* font-weight: bold; */
}
/* .MainTitle h2 svg{
  font-size: 30px;
} */

/* Styling for the .CaRd container */
.CaRd {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  /* align-items: flex-start; */
}

/* Styling for h4 elements inside .CaRd */
.CaRd h4 {
  margin: 0;
  font-size: 22px;
  color: var(--color--red1);
  margin-top: 6px;
  /* font-weight: bold; */
  text-align: center;
}

/* Styling for p elements inside .CaRd */
.CaRd p {
  font-size: 20px;
  justify-content: start;
  display: flex;
  padding: 5px;
}

/* Common styling for serv1 to serv12 classes */
.serv1,
.serv2,
.serv3,
.serv4,
.serv5,
.serv6,
.serv7,
.serv8,
.serv9,
.serv10,
.serv11,
.serv12 {
  max-width: 20rem;
  margin: 0 auto !important;
  height: max-content;
  border-radius: 10px;
}
