/* .wrapper {
    height: 10vh;

  }
  
  .typing-demo {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 15px;
    font-size: 1.3rem;
    line-height: 2;
    color: var(--color--red);
  } */
