.navbar-brand img{
    width: 14vh;
}
.container-fluid{
    background-color: var(--main--color);
    z-index: 10;
    flex-direction: row-reverse;
}
.navbar-toggler{
    width: 100%;
    margin-top: 10px;
}
.navbar-collapse{
justify-content: center;
}
.navbar-nav{
    gap: 15px;
}
.navbar{
    background-color: var(--main--color);
    padding: 0;

}
.navbar ul li a{
    color: var(--color--red);
    font-size: 22px;
    align-items: center;
    display: flex;
}
.navbar ul li a:hover{
    color: var(--color--red1);
}
.navbar ul li a svg{
    margin-right: 10px;
    margin-left: 10px;
    color: var(--color--red1);
}
.item1{
    transition-delay: 100ms;
}
.item2{
    transition-delay: 200ms;
}
.item3{
    transition-delay: 300ms;
}
.item4{
    transition-delay: 400ms;
}
.item5{
    transition-delay: 500ms;
}


.dropdown-menu[data-bs-popper]{
 left: 0;
}


.title {
    padding-top: 15px;
    width: 100%;
    background-color: transparent;
    text-align: center;
    color: var(--color--red1);
  }
  .title h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
  }
  .title h4 {
    font-size: 3vh;
    font-weight: bold;
  }
.title ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.title ul li {
    display: flex;
    justify-content: space-between;
}
.diffrint{
    background-image: linear-gradient(to right, #ebd453, #8a5e10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 50px;
    margin-top: 22px;
    width: 70vh;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.typing-demo {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 15px;
    font-size: 1.3rem;
    line-height: 2;
    color: var(--color--red);
  }
  .typing-demo h5[lang="ja"]{
    font-size: 15px;
    }