.container{
    margin-top: 10vh;
}
.vision-title{
    color: var(--color--red);
    /* margin-bottom: 10px; */
}
.vision-details{
    margin-top: 20px;
    line-height: 2;
    opacity: 0.9;
    font-weight: 500;
    font-size: 13px;
}
.vision-img{
    width: 100%;
    margin-top: 10vh;
}