.container{
    margin-top: 10vh;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: var(--color--red1);
    /* margin-bottom: 10px; */
}
.vision-title svg{
    font-size: 30px;
}
.vision-details{
    margin-top: 20px;
    line-height: 2;
    /* opacity: 0.9; */
    font-weight: 500;
    font-size: 18px;
}
.vision-details[lang="ar"]{
    line-height: 2.6;
}
.vision-img{
    width: 100%;
    margin-top: 13vh;
    height: 52vh;
}